body {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

form {
  font-family: arial, sans-serif;
  width: 40%;
  display: grid;
  justify-content: center;
  justify-items: center;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.contain {
  width: 450px;
  height: 300px;
  padding-bottom: 50px;
  display: grid;
  justify-items: center;
  gap: 5px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  background-color: rgb(246, 244, 244);
}
.description {
    display: flex;
  height: 150px;
  align-self: flex-start;
}
.Submit {
  margin-top: 20px;
  background-color: #1473bb;
  border: none;
  border-radius: 5px;
  width: 100%;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  font-weight: 700;
}
